.fixed-bg {
  background-image: url('/assets/images/weather-background.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh
}

.city-list {
    background-color: rgba(255,255,255,0.5);
    height: 90vh;
    width: 30vw;
    min-width: 300px;
    overflow-y: scroll;
    color: #fff;
}

.weather-frame {
  width: 70vw;
}