.fixed-bg {
  background-image: url('/assets/images/lightning.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  cursor: pointer;
  text-decoration: none;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.main {
}

.city-list {
    background-color: rgba(255,255,255,0.5);
    height: 91vh;
    padding-top: 64px;
    overflow-y: scroll;
    color: #fff;
}